button {
    font-weight: bolder;
}
input {
    font-size: large;
}
#createLot {
    width: 120px;
    height: 55px;
    color: #005700;
    font-size: large;
}
#mainBlock{
    display: table;
    width: 100%;
}
#mainBlock div{
    display: table-cell;
}
#searchBlock {
    width: 70%;
    display: table;
}
#searchBlock div {
    width: 350px;
}
#listSearchBlock{
    width: 20%;
    background-color: whitesmoke;
}
.view{
    width: 100%;
}
.view table{
    width: 100%;
}
