#credSort {
    width: 50%;
    display: table;
}

#credSort div {
    width: 30%;
    display: table-cell;
}

button {
    font-weight: bolder;
}

#createLot {
    width: 120px;
    height: 55px;
    color: #005700;
    font-size: large;
}

input {
    font-size: large;
}