body{
    background-color: lightcyan;
}
input, select{
    width: 100%;
}
table{
    border-collapse: collapse;
}
h2{
    text-align: center;
}
.tR:hover{
    cursor: pointer;
    background-color: whitesmoke;
    color: darkblue;
}
#b1{
    display: table;
    width: 100%;
    height: 25%;
}
#bidBlock{
    display: table-cell;
    width: 35%;
    height: 100%;
    text-align: center;
    font-style: inherit;
    align-content: center;
}
#fdBlock{
    display: table-cell;
    width: 25%;
    height: 100%;
    text-align: left;
}
#payBlock{
    display: table-cell;
    width: 20%;
    height: 100%;
}
#docBlock{
    display: table-cell;
    width: 10%;
    height: 100%;
    align-content: center;
    /*text-align: right;*/
}
#b2{
    display: table;
}

#b1 div{
    border: double cyan;
    background-color: ghostwhite;
}
#docBlock table{
    border: solid darkgray;
    width: 100%;
}
#payBlock table{
    width: 100%;
}
#payBlock tr, #payBlock td{
    border: solid darkgray;
}
#payBlock tr:hover{
    cursor: pointer;
    background-color: whitesmoke;
    color: darkblue;
}
#lotAboutTab {
    width: 10%;
    border: 3px solid cyan;
    align-content: center;
    text-align: center;
    background-color: white;
    font-size: 120%;
    font-weight: bolder;
}
#bidTab {
    width: 100%;
}
#bidTab th {
    background-color: sandybrown;
}
#bidTab tr {
    border: 3px solid darkgray;
    font-weight: bold;
    text-align: center;
}
#finInfoTr{
    font-weight: bold
}
#butAccept{
    color: white;
    background-color: darkgreen;
    width: 200px;
    height: 50px;
    font-size: 22px;
}
#butAccept:hover{
    background-color: lightgreen;
    color: black;
    font-size: 25px;
}
#doc1:hover{
    border: double gold;
}
#doc1:hover{
    cursor:pointer;
    background-color: white;
    color: black;
}
#fileList, #firstPriceTd, #bidDate, .bidHistoryTr, #bidTd
{
    cursor:pointer;
}
#bidDate:hover{
    background-color: lightcyan;
    font-weight: bold
}
.bidHistoryTr{
    background-color: whitesmoke;
    color: darkblue;
}
.bidHistoryTr:hover{
    background-color: white;
}
#delLotButton{
    width: 100px;
    height: 50px;
    background-color: darkred;
    color: white;
}
#delLotButton:hover{
    background-color: red;
    color: black;
    font-style: italic;
}
#setSoldButton{
    width: 100px;
    height: 50px;
    background-color: darkgreen;
    color: white;
}
#setSoldButton:hover{
    background-color: lawngreen;
    color: black;
    font-style: italic;
}
#fdTab, #nbuTab{
    cursor: pointer;
    background-color: whitesmoke;
    font-weight: bolder;
    font-size: large;
    table-layout: fixed;
    text-align: center;
    width: 100%;
    border: 2px solid cyan;
}
#fdTab tr:hover, #nbuTab tr:hover{
    background-color: white;
    color: darkblue;
}
#fdTab td, #nbuTab td{
    border: 2px solid cyan;
    width: 33%;
}
button{
    font-weight: bolder;
    cursor:pointer;
}
select, option{
    width: 100%;
    height: 100%;
    font-weight: bold;
}
#mainButBlock{
    display: table-cell;
    width: 10%;
}
#butBlock{
    display: table-cell;
    text-align: left;
    width: 100%;
}
#acceptButBlock {
    display: table-cell;
    width: 100%;
    text-align: right;
}
#commBlock input{
    font-size: large;
    height: 35px;
    background-color: whitesmoke;
}
#butBlock div{
    display: table-cell;
    width: 50%;
}

#showCredits{
    cursor:pointer;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
}
.delPayButt{
    width: 22px;
    height: 22px;
}
.delPayButt:hover{
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: solid red;
}
#bar{
    width: 90%;
    display: table-cell;
    border: solid 3px darkgray;
}
#bar div{
    display: table-cell;
}
#financeBlock{
    width: 90%;
}
#commBlock{
    width: 10%;
}
